* {
    padding: 0;
    margin: 0;
    background-color: papayawhip;
}

button {
    border-radius: 25%;
}


/* end of global styles */

.nav {
    height: 50px;
    display: flex;
    justify-content: flex-end;
}

.darkNav {
    background-color: hsl(222, 14%, 10%);
}

.nav>li {
    list-style: none;
    padding: 30px;
}

.section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.darkSection2 {
    background-color: hsl(222, 14%, 10%);
}

.darkSection2First {
    background-color: hsl(222, 14%, 10%);
    color: azure;
}

.darkSection2End {
    background-color: hsl(222, 14%, 10%);
}

.section3 {
    display: flex;
    justify-content: center;
}

.buttons {
    display: flex;
    justify-content: space-around;
}

.buttons>button {
    margin-right: 20px;
    font-size: 20px;
    background-color: black;
    color: azure;
}

.scoreBoard,
.result {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}