* {
    padding: 0;
    margin: 0;
}

.logo {
    width: 100vw;
    height: 50px;
    background-color: white;
}

.app {
    background-color: #e0f4ff;
    height: 100vh;
    width: 100vw;
}

.darkApp {
    background-color: #1f2529;
}

button {
    border-radius: 25%;
}


/* end of global styles */

.logo {
    background-color: #005786;
}

.nav {
    height: 50px;
    display: flex;
    justify-content: flex-end;
    /* background-color: papayawhip; */
}

.darkNav {
    /* background-color: hsl(222, 14%, 10%); */
    color: white;
}

.nav>li {
    list-style: none;
    padding: 30px;
    text-decoration-color: white;
}

.section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    /* background-color: papayawhip; */
}

.section2First>h1 {
    font-size: 40px;
}

.darkSection2 {
    /* background-color: hsl(222, 14%, 10%); */
}

.darkSection2First {
    /* background-color: hsl(222, 14%, 10%); */
    color: azure;
}

.darkSection2End {
    /* background-color: hsl(222, 14%, 10%); */
}

.section3 {
    display: flex;
    justify-content: center;
    /* background-color: papayawhip; */
}

.darkSection3 {
    /* background-color: hsl(222, 14%, 10%); */
}

.buttons {
    display: flex;
    justify-content: space-around;
}

.Buttons {
    margin-right: 20px;
    /* background-color: papayawhip; */
    font-size: 20px;
    background-color: hsl(222, 14%, 10%);
    color: azure;
}

.darkButtons {
    /* background-color: hsl(222, 14%, 10%);
     */
    background-color: #d6ccc2;
    color: white;
}

.scoreBoard,
.result {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: papayawhip; */
}

.darkScoreBoard {
    /* background-color: hsl(222, 14%, 10%); */
    color: white;
}

.darkResult {
    /* background-color: hsl(222, 14%, 10%); */
    color: white;
}